.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;
}
 body {
    font-family: inter;
 }
.nav-items {
    width: 370px;
    display: flex;
    justify-content: space-around;
}

.items-li {
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.get-early-access {
    background-color:#30B868 ;
    height: 44px ;
    border: none;
    border-radius:3px;
    color: white;
    padding: 12.5px 14px;
    text-align: start;

}
.section-banner {
    background-image: url(assets/hero-bg.png);
    height: 672px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    gap: 16px;
}
#Building {
    display: flex;
}
#Banner-Buttons {
    display: flex;
    gap: 12px;
}

* {
    margin: 0;
    padding: 0%;
}
#Early-access {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color: #30B868;
}
.Card-Icons {
    background-color: #F95555;
    border-radius: 30px;
    padding: 14px;
}
.Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    width: 322px;
    height: 300px;
    gap: 16px;
    justify-content: center;
}
.Gray-Fonts {
    font-size: 16px;
    color: #627382;
    text-align: center;
}
.section-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
}
.Card-header {
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.Card-varieties {
    display: flex;
    gap: 24px;
}
.section-4 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 700px;
    align-items: center;
    padding-left: 100px;
}