.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;
}
 body {
    font-family: inter;
 }
.nav-items {
    width: 370px;
    display: flex;
    justify-content: space-around;
}

.items-li {
text-decoration: none;
color: black;
font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 152%;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.get-early-access {
    background-color:#30B868 ;
    height: 44px ;
    width: 156px ;
    border: none;
    border-radius:3px;
    color: white;
}