.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;
}
 body {
    font-family: inter;
 }
.nav-items {
    width: 370px;
    display: flex;
    justify-content: space-around;
}

.items-li {
text-decoration: none;
color: black;
font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 152%;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.get-early-access {
    background-color:#30B868 ;
    height: 44px ;
    border: none;
    border-radius:3px;
    color: white;
    padding: 12.5px 14px;
    text-align: start;

}
.section-banner {
    background-image: url(assets/hero-bg.png);
    height: 672px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    gap: 16px;
}
#Building {
    display: flex;
}
#Banner-Buttons {
    display: flex;
    gap: 12px;
}

* {
    margin: 0;
    padding: 0%;
}
#Early-access {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color: #30B868;
}